
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
project.lock.json
.idea/
node_modules/
src/aspnet5/wwwroot/typings/
src/aspnet5/wwwroot/app/*.js
src/aspnet5/wwwroot/app/components/
src/aspnet5/wwwroot/app/*.map
src/aspnet5/wwwroot/main.j*
